.about, .theme-about {
    padding: 10px 0;
}

.barbara{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
    text-align: justify;
    background: #eee;
}

.theme-barbara{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
    text-align: justify;
    background: #111;
}

.milica{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
    text-align: justify;
    flex-direction: row-reverse;
    background: #eee;
}

.theme-milica{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    align-items: center;
    text-align: justify;
    flex-direction: row-reverse;
    background: #111;
}

.barbara p, .theme-barbara p,
.milica p, .theme-milica p {
    padding:30px;
}

.theme-about p {
    color: #fff;
}

.about p a, .theme-about p a {
    color: rgb(98, 2, 234);
    text-decoration: none;
}

.about p a:hover, .theme-about p a:hover {
    color: rgb(57, 0, 136);
    text-decoration: underline;
}

@media(max-width: 950px) {
    .about, .theme-about {
        margin-top: 30px;
    }
    .barbara, .theme-barbara,
    .milica, .theme-milica {
        display: inline;
    }

    .barbara p, .theme-barbara p{
        margin-bottom: 30px;
    }

    .barbara img, .theme-barbara img {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        padding-top: 30px;
        padding-left: 30px;
    }

    .barbara p,
    .milica p {
        background: #eee;
        color: #000;
    }

    .theme-barbara p,
    .theme-milica p {
        background: #111;
        color: #fff;
    }

    .milica img, .theme-milica img{
        float: right;
        margin-left: 15px;
        margin-bottom: 15px;
        padding-top: 30px;
        padding-right: 30px;
    }

    .about :nth-child(3), .theme-about :nth-child(3) {
        padding-top: 20px;
    }
}
